# CMake build folders
cmake-build-*/
build/

# CMake files
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
install_manifest.txt

# Ninja build files
.ninja_deps
.ninja_log
build.ninja

# Executables
*.exe
*.out
*.app

# Logs
*.log
logs.txt

# IDE files (CLion / JetBrains)
.idea/

# OS files
.DS_Store
Thumbs.db